#fbbutton {
    margin-top: 20%;
    margin-bottom: 10%;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: black;
    height: 1px;
}

#text1 {
    color: #2774AE;
}

#text2 {
    color: #FFD100;
}

#text3 {
    color: #2774AE;
}