#profile-card {
    height: 100%;
    width: 83%;
    display: flex;
    flex-flow: column;
}

#name-h1 {
    color: #3f3f3f;
    padding: 3%;
}

#user-info {
    width: 50%;
    padding: 3%;
}

#editButton {
    margin-left: auto;
}

#content-fields {
    display: flex;
    flex-flow: column;
}

#content-fields fieldset {
    border-color: white !important;
}

#content-container {
    background: rgb(73, 76, 89);
}

#user-info .MuiCardActions-root button {
    color: white;
}

#user-info label, #user-info input, #user-info span {
    color: white !important;
}

#instructor-toggle {
    margin-left: 0.1%;
    margin-top: 1%;
}

#courses-container {
    width: 60%;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.MuiChip-deletable {
    background: rgb(73, 76, 89) !important;
    border: 1px solid white !important;
}

#courses-container > div > div:hover:before {
    height: 1px;
    background-color: white !important;
}

#courses-container svg {
    color: white;
}

.WAMuiChipInput-standard-628:after {
    height: 2px;
    background-color: white !important;
}