#sidebar {
    background-color:rgb(237, 237, 237);
    height: 100%;
    width: 17%;
}

#divider {
    width: 95%;
}

#sidebar-heading {
    margin-top: 20%;
    margin-left: 10%;
    height: 10%;
    display: flex;
    flex-flow: row;
}

#c1 {
    color: #2774AE;
}

#c2 {
    color: #FFD100;
}

#c3 {
    color: #2774AE;
}

#c4 {
    color: #FFD100;
}

#navlist {
    margin-top: 20%;
    margin-left: 5%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 30%;
}

.navlink {
    text-decoration: none;
    color: #7f7f7f;
}

.navlink-selected {
    text-decoration: none;
    color: #616161;
    font-weight: bold;
}

#notif-dialog > div > div {
    width: 100%;
    background: rgb(73, 76, 89) !important;
}

.list-type4{
    list-style: none;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 3%;
}

.list-type4 ol{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin-bottom: 4em;
}
.list-type4 a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #5975D9;
    color: rgb(73, 76, 89);
    text-decoration: none;
    box-shadow:inset 0.5em 0 #2774AE;;
    -webkit-transition: box-shadow 1s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.1s;
}

.list-type4 a:hover{
    box-shadow:inset 1em 0 #2774AE;;
}

.notif-li {
    padding: 1%;
}

.notif-li a {
    padding-top: 3%;
    padding-bottom: 3%;
    background: white !important;
}
