#sidebar {
    background-color:rgb(237, 237, 237);
    height: 100%;
    width: 17%;
}

#divider {
    width: 95%;
}

#sidebar-heading {
    margin-top: 20%;
    margin-left: 10%;
    height: 10%;
    display: flex;
    flex-flow: row;
}

#c1 {
    color: #2774AE;
}

#c2 {
    color: #FFD100;
}

#c3 {
    color: #2774AE;
}

#c4 {
    color: #FFD100;
}

#navlist {
    margin-top: 20%;
    margin-left: 5%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 30%;
}

.navlink {
    text-decoration: none;
    color: #7f7f7f;
}

.navlink-selected {
    text-decoration: none;
    color: #616161;
    font-weight: bold;
}
